.contact-form {
    background: $dark;
    background: linear-gradient(90deg, $dark 0%, #999999 100%);
    color: #fff;
    padding: 40px 0;
    h3 {
        color: $primary-dark;
        font-size: 30px;
    }
    h2 {
        font-size: 40px;
        color: $primary;
        font-weight: 900;
    }

    form {
        input, textarea {
            background: none;
            border-radius: 0;
            border: none;
            font-size: 20px;
            border-bottom: 1.5px solid $secundary;
            color: #fff;
            transition: all .3s ease;
            &:hover, &:blur {
                outline: none;
                border: none;
                background: none;
            }

        }
        input::placeholder, textarea::placeholder {
            color: $secundary;
        }
        input:focus, textarea:focus {
            outline: none;
            background: none;
            color: #fff;
            border: none;
            box-shadow: none;
            -webkit-box-shadow: 0px 1.5px 0px 0px $primary;
            -moz-box-shadow: 0px 1.5px 0px 0px $primary;
            box-shadow: 0px 1.5px 0px 0px $primary;
        }
        .form-control:focus.is-invalid, .form-control:focus.is-invalid {
            -webkit-box-shadow: 0px 1.5px 0px 0px #e3342f;
            -moz-box-shadow: 0px 1.5px 0px 0px #e3342f;
            box-shadow: 0px 1.5px 0px 0px #e3342f;
        }
        textarea {
            border: 1.5px solid $secundary;
            min-height: 175px;
            border-radius: 0.25rem;
            max-height: 200px;
            &:focus {
                box-shadow: 0 0 0 1.5px $primary;
                color: #fff;
            }
        }
        .form-group.checkbox-group {
            padding: 10px 0;
            margin: 0;
            input {
                margin: 0 10px;
            }

        }
        .btn-submit {
            background: $primary;
            background: linear-gradient(90deg, $primary 0%, $primary-dark 100%);
            color: #000;
            padding: 5px 15px;
            border-radius: 10px;
            font-size: 18px;
            &:hover {
                text-decoration: none;
            }
        }

    }
}
