.faqs {
    position: relative;
    background-color: $darkness;
    padding-top:70px;
    color: #fff;
    > .container {
        padding-bottom: 100px;
    }
    h3 {
        font-size: 26px;
        color: $primary;
        margin: 20px 40px;
        font-weight: 600;
    }
    .faqs-list {
        padding-left: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 80px;
        ul {
            list-style: none;
            li {
                ul {
                    margin-left: 30px;
                    list-style: circle;

                }
                margin: 20px 0;
                a {
                    font-size: 20px;
                    color: #fff;
                    transition: all .3s ease;
                    &:hover {
                        color: $primary;
                        text-decoration: none;

                    }
                    i {
                        color: #000;
                        background: $primary;
                        border-radius: 50%;
                        padding: 7px;
                        margin-right: 18px;
                    }
                }
                p {
                    margin-left: 25px;
                    font-size: 16px;
                    margin-top: 13px;
                }
            }
        }
    }
    .faqs-image {
       position: relative;
       display: flex;
       justify-content: center;
        img {
            position: absolute;
            bottom: 0;
            max-width: 370px;
            width: 80%;
        }
    }
    #Capa_1 {
        position: absolute;
        width: 100%;
        bottom: -1px;
    }
}

@media (max-width: 767px) {
    .faqs {
        > .container {
            padding-bottom: 0;
        }
        .faqs-list {
            padding-bottom: 0;
        }
        .faqs-image {
            img {
                position: relative;
            }
        }
    }
}
