footer {
    color: #fff;
    background-color: $darkness;
    padding: 70px;
    overflow: hidden;
    h3, h4 {
        color: $primary;
    }
    h3 {
        font-size: 30px;
        font-weight: 900;
    }
    h4 {
        font-size: 24px;
    }
    .description {
        p {
            font-size: 16px;
        }
    }
    .links {
        ul {
            list-style: none;
            li {
                &::before {
                    content: "\25A0";
                    color: #ffce00;
                    font-weight: bold;
                    display: inline-block;
                    width: 4px;
                    margin-left: 1px;
                    margin-right: 30px;
                    font-size: 22px;
                }
                a {
                    color: #fff;
                    font-size: 18px;
                    transition: all .3s ease;
                    &:hover {
                        text-decoration: none;
                        color: $primary;
                    }
                }
            }
        }
    }
    .contact-info {
        ul {
            list-style: none;
            li {
                font-size: 18px;
                display: flex;
                flex-direction: row;
                padding: 5px 0;
                span {
                    color: $primary;
                }
                div {
                    display: flex;
                    margin-left: 28px;
                    flex-direction: column;
                    a {
                        color: #fff;
                        transition: all .3s ease;
                        &:hover {
                            text-decoration: none;
                            color: $primary;
                        }
                    }
                }
            }
        }
    }
}
