.glow {
    &.fixed {
        .navbar  {
            position: fixed;
            top: 0;

        }
    }
    width: 100%;
    height: 100vh;
    position: absolute;
    .scroll-down {
        height: 60px;
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        display: block;
        position: absolute;
        bottom: 0px;
        right: 2%;
        background-color: $primary;
        text-align: center;
        z-index: 6;
        border-radius: 15px 15px 0 0;
        color: #FFFFFF;
        font-size: 30px;
        padding-bottom: 20px;
        animation-name: wiggle;
        animation-duration: 1.2s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: normal;
    }
    .navbar {
        border: 0px;
        background-color: $primary;
        position: absolute;
        top: 100%;
        right: 2%;
        width: 100px;
        z-index: 999;
        padding: 0;
        button {
            background-color: $darkness;
            color: $primary;
        }

        border-radius: 0 0 15px 15px;
        .navbar-nav {
            flex-direction: column;
            text-align: center;
            a {
                color: #000;
                font-size: 13px;
                font-weight: 900;
                transition: all .3s ease;
                &:hover {
                    color: #fff;
                }
            }
        }
    }

}
header {
    background: $darkness;
    background: linear-gradient(90deg, $darkness 0%, $dark 100%);
    position: relative;
    padding-bottom: 2rem;

    #gris_oscuro, #gris_medio, #gris_claro {
        position: absolute;
        bottom: -4px;
    }
    #gris_medio {
        path {
            fill: $secundary-dark;
        }
    }
    #gris_claro {
        path {
            fill: $secundary;
        }
    }
    .navbar {
        z-index: 20;
        .social {
            display: flex;
            flex-direction: row;
            justify-content: center;
            a {
                color: #ffce00;
                font-size: 22px;
                padding: 0 5px;
                transition: all .3s ease;
            }
        }
        .navbar-nav {

            li {
                font-size: 16px;

            }
            a {
                transition: all .3s ease;
                &:hover {
                    color: $primary !important;
                }
            }
            li.nav-item {

                margin: 8px;
                display: flex;
                a {
                    transition: all .3s ease;
                    padding-right: 0 !important;
                    padding-left: 0 !important;
                    padding-bottom: 0 !important;
                    border: 2px solid transparent;
                    &:hover {
                        color: $primary !important;
                        border-bottom: 2px solid $primary;
                    }
                }
            }
        }

    }

    .welcome {
        padding-bottom: 8rem;

        img {
            width: 50%;
        }

        .text {
            margin-top: 3rem;
            color: #fff;
            h2.im {
                margin-top: 3rem;
            }
            h2 {
                font-size: 45px;
            }
            h3 {
                font-size: 38px;
                margin-bottom: 3rem;
            }
        }

        a.meet-me {
            background: $primary;
            background: linear-gradient(90deg, $primary 0%, $primary-dark 100%);
            color: #fff;
            padding: 8px 30px;
            border-radius: 6px;
            font-size: 22px;
            &:hover {
                text-decoration: none;
            }

        }
    }

}
@media(min-width: 1540px) {
    header {
        padding-bottom: 7rem;
    }
}

@media(max-width: 1100px) {
    header {
        padding-bottom: 1rem;
    }
}
@media (max-width: 991px) {
    header {
        .navbar .navbar-nav li.nav-item {
            justify-content: center;
        }
        .welcome {
            padding-bottom: 8rem;
            .text {
                margin-top: 0;
                h3 {
                    margin-bottom: 0;
                }

            }
        }
    }
}
@media(max-width: 950px) {
    header {
        padding-bottom: 0rem;
    }
}

@media(max-width: 869px) {
    header {
        .welcome {
            padding-bottom: 7rem;
        }
    }
}
@media(max-width: 791px) {
    header {
        .welcome {
            padding-bottom: 6rem;
        }
    }
}


@media (max-width: 767px) {
    .glow {
        width: 100%;
        padding:  5px;
        .scroll-down {
            width: 100%;
            border-radius: 0;
            border-bottom: 1px solid $darkness;
            right: 0;
        }
        .navbar {

            border-radius: 0;
            width: 100%;
            right: 0;
            padding: 10px;

        }
        &.fixed {
            .navbar  {
                position: fixed;
                top: 0;
            }
        }
    }

    header {
        &.home {
            height: 100vh;
        }
        #gris_medio, .dots, #gris_claro {
            display: none;
        }

        .welcome {
            // position: absolute;
            bottom: 0;

            > div {
                flex-direction: column-reverse;
            }
            .text {
                h2 {
                    font-size: 40px;
                }
                h3 {
                    font-size: 33px;
                }
                text-align: center;
                margin-bottom: 42px;
                h2.im {
                    margin-top: 1rem;
                }
                h3 {
                    margin-bottom: 20px;
                }
            }
        }
    }
}


@keyframes wiggle {
	0% {
		padding-top: 10px;
	}

	50% {
		padding-top: 15px;
	}

	100% {
		padding-top: 10px;
	}
}
