* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    
}


.bar {
    background: $primary;
     width: 220px;
     height: 6px;
     margin: 0 auto;
     position: absolute;
     border-radius: 15px;

}
.bar::before, .bar::after {
     content: "";
     position: absolute;
     height: 100%;
     width: 10px;
     background-color: $darkness;
     left: -5px;
     top: 0;
     animation-duration: 3s;
     animation-timing-function: linear;
     animation-iteration-count: infinite;
     animation-name: move;
}

@keyframes move {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(220px);
    }
}