.philosophy {
    background-color: $darkness;
    color: #fff;
    padding: 50px;
    h2 {
        font-size: 50px;
        font-weight: 900;
    }
    img {
        margin: 30px 0;
    }
    p {
        padding: 10px 50px;
    }
    h3 {
        font-size: 40px;
        color: $primary;
    }
    h5 {
        color: $primary;
        font-size: 18px;
        font-weight: 500;
    }
}

@media (max-width: 575px) {
    .philosophy {
        padding: 50px 5px;
        p {
            text-align: center;
        }
    }
}
