.resumen {
    position: relative;
    background: $secundary;
    padding: 80px 0 0px 0;
    font-weight: 900;
    z-index: 0;
    h3 {
        font-size:34px;
        margin-bottom: 0px;
    }
    img {
        width: 70%;
    }
    #gris_claro {
        position: absolute;
        bottom: -2px;
        width: 100%;
        path {
            fill: $darkness;
        }
    }
    .gallery {
        z-index: 1;
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 4rem;
        margin-bottom: 2px;
    }
    .button-container {
        justify-content: center;
        flex-direction: row;
        align-items: center;
        display: flex;
        button {
            border: none;
            background: $primary;
            padding:10px 14px;
            border-radius: 50%;
        }
    }
}
