header {
    .left-circles {
        width: 100%;
        max-width: 350px;
        position: absolute;
        left: -10%;
        bottom: 20%;
        img {
            width: 90%;
        }
    }
    .right-circle {
        width: 100%;
        max-width: 200px;
        position: absolute;
        right: 0;
        bottom: 20%;
        img {
            width: 100%;
        }
    }
    .dots {
        width: 100%;
        position: absolute;
        bottom: 0;
        img {
            width: 100%;
        }
    }
}

main {
    overflow: hidden;
}

.resumen {
    overflow: hidden;
    .left-stain {
        width: 100%;
        max-width: 600px;
        position: absolute;
        right: 70%;
        top: 10%;
        img {
            width: 90%;
        }
    }
    .right-stain {
        width: 100%;
        max-width: 350px;
        position: absolute;
        right: -10%;
        bottom: 5%;
        img {
            width: 100%;
        }
    }
}

.timeline, .timeline-responsive {
    position: relative;
    overflow: visible;
    z-index: 20;
    .right-stain, .left-stain, .right-circle, .left-circles {
        position: absolute;
        img {
            width: 100%;
        }
    }
    .right-stain {
        width: 100%;
        max-width: 400px;
        position: absolute;
        right: -22%;
        top: 30%;
        img {
            width: 90%;
        }

    }
    .left-stain {
        top: 14%;
        left: -15%;
        width: 100%;
        max-width: 300px;
    }
    .right-circle {
        top: 0;
        right: -25%;
    }
    .left-circles {
        top: 70%;
        left: -15%;
    }
}

.philosophy {
    position: relative;
    overflow: hidden;
    .dots {
        position: absolute;
        width: 100%;
        bottom: 0;
        img {
            width: 100%;
        }
    }
}

.testimonials {
    position: relative;
    overflow: hidden;
}

.faqs {
    position: relative;
    overflow: hidden;
    .dot {
        position: absolute;
        width: 100%;
        max-width: 300px;
        right: -14%;
        top: 5%;
        img {
            width: 100%;
        }
    }
}
