.testimonials {
    background-color: $darkness;
    padding: 50px 0;
    h2 {
        font-size: 40px;
        color: #fff;
        font-weight: 900;;
    }
    button {
        border: none;
        color: #000;
        background: $primary;
        border-radius: 50%;
        padding: 2px 10px;
        font-size: 25px;
        margin: 0 5px;
    }
    .testimonials-carousel {
        margin: 40px 0;
        .owl-item {
            display: flex;
            justify-content: center;
        }

        .item {
            width: 90%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            text-align: center;
            iframe {
                border: none;
                width: 100%;
                height: 100%;
                max-width: 400px;
                min-width: 200px;
                min-height: 230px;
                max-height: 240px;
            }

            h4 {
                color: $primary;
                font-weight: 900;
                margin-top:15px;
            }
            p {
                color: #fff;
                padding: 5px;
            }
        }
    }
}
