$time-line-thickness: 4px;
$more-space: -26px;
$minus-space: -16px;
$border-radius: 30px;

.timeline {
    h3
    {
        font-size: 2.2rem;
        font-weight: bold;
    }
    > .container {
        max-width: 1000px;
    }
    background: $darkness;
    color: #fff;
    padding: 40px 30px 60px 0;
    .item {
        img {
            width: 100%;
            max-width: 85px;
            min-width: 80px;
        }
    }

    .dot {
        position: absolute;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 4px solid $primary;
    }

    .history-1 {
        margin-top: 90px;
        padding-bottom: 120px;
    }
    .history-2-container {
        position: relative;
    }
    .history-2 {
        text-align: right;
        position: absolute;
        top: -100px;
    }
    .history-4 {
        position: absolute;
        display: flex;
        flex-direction: column;
        bottom: -120px;
        right: 85px;
        text-align: right;
        align-items: flex-end;
    }
    .history-6 {
        text-align: right;
    }

    .line-1 {
        border-left: $time-line-thickness solid $primary;
        border-top: $time-line-thickness solid $primary;
        height: 270px;
        position: absolute;
        top: -225px;
        border-radius: 30px 0 0 0;
        width: 35%;
        .dot-up {
            right: $more-space;
            top: $minus-space;
        }
        .dot-down {
            bottom: $more-space;
            left: $minus-space;
        }
    }
    .line-2 {
        width: 100%;
        height: 100%;
        border-top: $time-line-thickness solid $primary;
        border-right: $time-line-thickness solid $primary;
        border-radius: 0 $border-radius 0 0;
        .dot-up {
            top: -14px;
            left: -14px;
        }
        .dot-down {
            bottom: $minus-space;
            right: 35px;
        }
    }
    .line-2-1 {
        width: 20%;
        height: 100%;
        border-right: $time-line-thickness solid $primary;
        border-bottom: $time-line-thickness solid $primary;
        position: relative;
        border-radius: 0 0 $border-radius 0;
        .dot {
            bottom: -16px;
            left: -26px;
        }
    }
    .line-3-container {
        margin-top: 80px;
    }
    .line-3 {
        height: 200px;
        border-top: $time-line-thickness solid $primary;
        border-left: $time-line-thickness solid $primary;
        border-radius: $border-radius 0 0 0;
        position: relative;
        .dot-up {
            right: -14px;
            top: -14px;
        }
        .dot-down {
            bottom: -30px;
            left: -17px;
        }
    }
    .line-4 {
        position: relative;
        width: 100%;
        height: 150px;
        border-top: $time-line-thickness solid $primary;
        border-right: $time-line-thickness solid $primary;
        border-radius: 0 $border-radius 0 0;
        .dot {
            top: -17px;
            left: -26px;
        }
    }
    .line-5 {
        width: 40px;
        position: relative;
        border-bottom: $time-line-thickness solid $primary;
        .dot {
            left: -26px;
            top: -14px;
        }
    }
    .line-6 {
        position: relative;
        width: 70%;
        height: 40px;
        height: 150px;
        border-bottom: $time-line-thickness solid $primary;
        border-right: $time-line-thickness solid $primary;
        border-radius: 0 0 $border-radius 0;
        .dot {
            bottom: -16px;
            left: -26px;
        }
    }
    .line-7 {
        border-left:  $time-line-thickness solid $primary;
        border-bottom:  $time-line-thickness solid $primary;
        border-radius: 0 0 0 $border-radius;
        height: 250px;
        widows: 80%;
        position: relative;
        .dot-up {
            left: -17px;
            top: -26px;
        }
        .dot-down {
            bottom: -16px;
            right: -27px;

        }

    }

}

@media(max-width: 767px) {
    .timeline {
        display: none !important;
    }
}
