.timeline-responsive {
    background: $darkness;
    padding: 30px 0;
    color: #fff;
    .container {
        position: relative;
        bottom: 110px;
    }
    .line-container {
        border-left: 4px solid $primary;
        padding-left: 30px;
        margin-left: 10px;
        .item {
            margin: 20px 0;
        }
        .extreme-up {
            .dot {
                background-color: $secundary;
                top: -32px;
            }
        }
        .extreme-down {
            .dot {
                background-color: $darkness;
                bottom: 0;
            }
        }
        .dot {
            position: absolute;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            left: -32px;
            background-color: $darkness;
            top: 23px;
            border: 4px solid $primary;
        }
        img {
            margin-left:10px;
        }
    }
}

@media(max-width: 767px) {
    .timeline-responsive {
        display: block !important;
    }
}
