
$primary: #ffce00;
$primary-dark: #ff9d00;

$secundary: #cccccc;
$secundary-dark: #808080;

$dark: #4d4d4d;
$darkness: #1a1a1a;

header {
    overflow: hidden;
    padding-bottom: 80px;
    .calculator {
        position: relative;
        z-index: 90;
        margin: 100px auto;
        margin-bottom: 0;
        width: 100%;
        max-width: 580px;
        padding: 50px 50px;
        background: #fff;
        border-radius: 40px;
        .form-control {
            &:focus {
                border-color: $primary;
            }
        }
        input {
            border: none;
            border-bottom: 1px solid #000;
            border-radius: 0;
            outline: none;
            box-shadow: none;
            &:focus {
                outline: none;
                box-shadow: none;
                border-color: 1px solid $primary;
                -webkit-box-shadow: 0px 2px 0px 0px rgba(255, 206, 0, 0.75);
                -moz-box-shadow: 0px 2px 0px 0px rgba(255, 206, 0, 0.75);
                box-shadow: 0px 2px 0px 0px rgba(255, 206, 0, 0.75);
            }
        }
        input[readonly] {
            background-color: #fff;
        }
    }
    .rotate-element {
        position: absolute;
        z-index: 0;
        right: -20%;
        width: 100%;
        max-width: 700px;
        top: 12%;
        transition: all 12s ease;
        &:hover {
            transform: scale(1.5);
        }
        img {
            widows: 100%;
            -webkit-animation: 70s rotate linear infinite;
            animation: 70s rotate linear infinite;
            -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
        }
    }
}

.resources {
    background: rgb(26,26,26);
    background: linear-gradient(80deg, rgba(26,26,26,1) 0%, rgba(77,77,77,1) 100%);
    position: relative;
    > .container {
        padding: 20px 20px;
        padding-bottom: 160px;
    }
    h2 {
        color: $primary;
        font-size: 45px;
        margin: 50px 0;
    }
    .card {
        border-radius:  35px;
        border: none;
        margin-bottom: 10px;
        a {
            background: $primary;
            background: linear-gradient(90deg, $primary 0%, $primary-dark 100%);
            color: #000;
            padding: 5px 15px;
            border-radius: 10px;
            font-size: 18px;
            &:hover {
                text-decoration: none;
            }
        }
        .card-img-top {
            border-radius:  35px 35px 0 0;
        }
    }

    #gray-waves {
        position: absolute;
        bottom: -8px;
        width: 100%;
        path {
            fill: $secundary;
        }
    }
}
.resources-form {

    background-color: $secundary;
    padding: 20px 0;
    padding-bottom: 50px;
    h2 {
        font-size: 45px;
        font-weight: 900;
    }
    .form-group {
        margin-bottom: 35px;
    }
    input {
        border: none;
        outline: none;
        box-shadow: none;
        border-bottom: 2px solid $secundary-dark;
        transition: all .3s ease;
        border-radius: 0;
        background: $secundary;
        &::placeholder {
            font-size: 18px;
            color: #000;
        }
        &:focus {
            border: none;
            outline: none;
            background-color: $secundary;
            border-color: $primary;
            box-shadow: none;
        }
    }
    button {
        background: $primary;
        background: linear-gradient(90deg, $primary 0%, $primary-dark 100%);
        color: #000;
        padding: 5px 15px;
        border-radius: 10px;
        font-size: 18px;
        &:hover {
            text-decoration: none;
        }
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@media(max-width: 425px) {
    header {
        .calculator {
            padding: 40px 20px;
            border-radius: 25px;
        }

    }
}
