
$primary: #ffce00;
$primary-dark: #ff9d00;

$secundary: #cccccc;
$secundary-dark: #808080;

$dark: #4d4d4d;
$darkness: #1a1a1a;

@import 'normalize';

@import 'resources';

@import 'header';

@import 'resumen';

@import 'timeline';

@import 'timeline-responsive';

@import 'philosophy';

@import 'testimonials';

@import 'faq';

@import 'contact-form';

@import 'footer';
