<template>
    <div class="calculator">
        <p class="text-danger" v-if="verifyNumber(percent)">Ingrese un numero válido</p>
        <div class="form-inline d-flex justify-content-center my-3">
            <input @keyup="calcReceive(); calcSend();" class="form-control" type="text" v-model.number="percent">
            <label for="percent" class="mx-2">% más $</label>
            <input readonly class="form-control" type="text" v-model="comission">
            <label for="percent" class="mx-2">USDs</label>
        </div>

        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12">
                    <h4 class="my-2 text-center">Calculadora Paypal para Recibir</h4>
                    <div class="form-group row">
                        <label for="field-1" class="col-sm-4 col-form-label">Para recibir:</label>
                        <div class="col-sm-8">
                            <input @keyup="calcReceive" v-model="to_receive" type="text" class="form-control" id="field-1" placeholder="">
                            <div v-if="infoReceive" class="text-info">{{ infoReceive }}</div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="field-2" class="col-sm-4 col-form-label">Hay que enviar:</label>
                        <div class="col-sm-8">
                            <input readonly v-model="receive" type="text" class="form-control" id="field-2">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="field-3" class="col-sm-4 col-form-label">La comisión es de:</label>
                        <div class="col-sm-8">
                            <input readonly type="text" v-model="receiveChop" class="form-control" id="field-3">
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12">
                    <h4 class="my-2 text-center">Calculadora Paypal para Enviar</h4>

                    <div class="form-group row">
                        <label for="field-4" class="col-sm-4 col-form-label">Si se envian:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" v-model="to_send" @keyup="calcSend" id="field-4" placeholder="">
                            <div v-if="infoReceive" class="text-info">{{ infoSend }}</div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="field-5" class="col-sm-4 col-form-label">La comisión es de:</label>
                        <div class="col-sm-8">
                            <input type="text" v-model="sendChop" readonly class="form-control" id="field-5">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="field-6" class="col-sm-4 col-form-label">Se reciben:</label>
                        <div class="col-sm-8">
                            <input type="text" readonly v-model="send" class="form-control" id="field-6">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>
<script>
export default {
    data() {
        return {
            percent: 4.4,
            comission: 0.3,
            infoPercent: "",
            infoComission: "",
            to_receive: "",
            to_send: "",
            receive: "",
            send: "",
            infoSend: "",
            infoReceive: "",
            sendChop: "",
            receiveChop: "",
            percentHasError: ""
        }
    },
    methods: {
        verifyNumber(num) {
            if (isNaN(num / 1)) {
                return "Ingrese un número valido";
            }
        },
        calcReceive() {

            var result = 0;
            result = (100 * (parseFloat(this.comission) + parseFloat(this.to_receive))) / ((0 - parseFloat(this.percent)) + 100);

            if (isNaN(result)) {
                this.infoReceive = "Ingrese un monto";
                this.receiveChop = "";
                return this.receive = "";
            }

            this.infoReceive = "";
            result = result.toFixed(2);
            this.receiveChop = (result - this.to_receive).toFixed(2);

            return this.receive = result;
        },
        calcSend() {

            var minusPercent, result;

            minusPercent = parseFloat(this.to_send) - ( (parseFloat(this.to_send) * this.percent) / 100 );

            result = minusPercent - this.comission;

            if (isNaN(result)) {
                this.infoSend = "Ingrese un monto";
                this.sendChop = "";
                return this.send = "";
            }

            result = result.toFixed(2);
            this.sendChop = (this.to_send - result).toFixed(2);
            this.infoSend = ""

            return this.send = result;
        }
    }
}
</script>
